.dashboard-user-pic {
  border-radius: 50%;

}

.dashboard-greeting {
  color: #929292;
}

.dashboard-greeting h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.dashboard-greeting p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;

}
