.all-history-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.history-card {
  width: 95%;
  // text-align: center;
  margin: 20px auto;
  border-radius: 20px;
  padding-left: 10px;
}

.history-tab-title {
  font-size: 15px;
  font-weight: 700;
  color: #FAC81E;
  margin-top: 1rem;
}

.history-tab-details {
  margin: 8px;
  font-size: 15px;
  font-weight: 400;
  color: #2A2A2A;
}
