.container-lp{
  // background-color: #0D0D0D;
  text-align: center;
  width: 100vw;
}

#full-body {
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1582106245687-cbb466a9f07f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2669&q=80");
  background-position: center;
  background-size: cover;

}

.logo-lp {
  display: flex;
  justify-content: center;
  padding: 56px;
  object-fit: contain;
}

.disclaimer-lp {
  display: flex;
  margin-bottom: 56px;
  margin-left: 56px;
  margin-right: 56px;
  background: linear-gradient(180deg, #989898b9 0%, #6b6b6baf 100%);
  opacity: 1;
  color: white;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #1b1b1bab;
}

#disclaimer-text {
  margin: 15px;
  text-align: center;

}

.btn-startcontainer {
 justify-content: center;
 margin: 88px;

}

.btn-start {
  display: flex;
  justify-content: center;
  height: 88px;
  background: linear-gradient(180deg, #FAC81E 0%, #FAC81EAD 100%);
  border-radius: 20px;
  box-shadow: 10px 5px 5px #1b1b1bab;
}

.btn-start:hover {
  background-color: linear-gradient(180deg, #38f96f 0%, #00b634 90%);
}

#startapp {
  display:flex;
  align-items: center ;
  justify-content: center;
  margin: 0;
  font-size: 20px;
  color: rgb(57, 57, 57);


}

.btn-readmorecontainer {
  display: flex;
  justify-content: center;
  margin: 88px;

 }


.btn-readmore {
  display: flex;
  align-items: center ;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 53px;
  background: linear-gradient(180deg, #FAC81E 0%, #FAC81EAD 100%);
  border-radius: 20px;
  box-shadow: 10px 5px 5px #1b1b1bab;

}

#readmore {
  align-items: center ;
  justify-content: center;
  margin: 0;
  color: rgb(57, 57, 57);
}

#angles-down {
  display: flex;
  align-items: center ;
  justify-content: center;
  margin-top: 180px;
  color: #989898;
}
