.container-lp{
  // background-color: #0D0D0D;
  text-align: center;
  width: 100vw;
}

#full-body {
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1532634666-c89557092b9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80");
  background-position: center;
  background-size: cover;

}

.logo-lp {
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 56px;
  object-fit: contain;
}

.disclaimer-lp {
  display: flex;
  margin-bottom: 56px;
  margin-left: 56px;
  margin-right: 56px;
  background: linear-gradient(180deg, #989898b9 0%, #6b6b6baf 100%);
  opacity: 1;
  color: white;
  border-radius: 15px;
  box-shadow: gray 5 5 0;
}

#disclaimer-text {
  margin: 15px;
  text-align: center;

}

.btn-startcontainer {
 display: flex;
 justify-content: center;
 margin: 88px;
}

.btn-start {
  display: flex;
  align-items: center ;
  justify-content: center;
  width: 300px;
  height: 88px;
  background: linear-gradient(180deg, #FAC81E 0%, #FAC81EAD 100%);
  border-radius: 20px;

}

.btn-start:hover {
  background-color: linear-gradient(180deg, #38f96f 0%, #00b634 90%);
}

#startapp {
  display:flex;
  align-items: center ;
  justify-content: center;
  margin: 0;
  font-size: 20px;
  color: rgb(57, 57, 57);


}

.btn-readmorecontainer {
  display: flex;
  justify-content: center;
  margin: 88px;
 }


.btn-readmore {
  display: flex;
  align-items: center ;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 53px;
  background: linear-gradient(180deg, #FAC81E 0%, #FAC81EAD 100%);
  border-radius: 20px;
  margin-top: inherit;
}

#readmore {
  align-items: center ;
  justify-content: center;
  margin: 0;
  color: rgb(57, 57, 57);
}

#angles-down {
  display: flex;
  align-items: center ;
  justify-content: center;
  margin-top: 180px;
  color: #989898;
}
