// Make each area overflow horizontally and
// have the ability to have other items
// scrolled into view
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

// Example two required styles --------------- /
.horizontal-navbar {
  border-top: 1px solid rgba(#2A2A2A, .4);
  border-bottom: 1px solid rgba(#2A2A2A, .4);

  .main-bar-tab {
    width: 25%; }
  nav {
    width: 75%; } }

// Shared styles --------------- /
header {
  background: #0D0D0D; }

// Examples
// .horizontal-navbar {
//   border-radius: 10px; }

// main-bar-tab
.main-bar-tab {
  text-align: center; // only effective in example 2/3
  font-weight: 700;
  color: white;
  border-right: 1px solid rgba(#2A2A2A, .4);
  padding: 19.5px 24px;
  // border-top-left-radius: 25px;
  // border-bottom-left-radius: 25px;
}
// Nav items
.horizontal-nav-item {
  padding: 19.5px 16px;
}

// Setup/misc styles --------------- /
// * {
//   box-sizing: border-box; }

// body {
//   font-family: -apple-system, BlinkMacSystemFont,
//     "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
//     "Fira Sans", "Droid Sans", "Helvetica Neue",
//     sans-serif;
//   max-width: 360px;
//   margin: 10vmin auto 0;
//   color: #989898;
//   line-height: 1.5; }

// Remove the inline-block extra space
header,
nav {
  font-size: 0; }

// Requires font size to be reset for these elements
.main-bar-tab,
.horizontal-nav-item {
  font-size: 14px; }

.main-bar-tab,
.horizontal-nav-item,
.vertical-align-middle {
  display: inline-block;
  vertical-align: middle; }

// .title {
//   margin: 24px 0 6px;
//   font-size: 12px;
//   text-transform: uppercase;
//   letter-spacing: .2em;
//   color: #999; }

// Demo purposes only, proceed with caution on Windows!
.scroll::-webkit-scrollbar {
  display: none; }


.horizontal-navbar-active {
  border-bottom: 3px solid #FAC81E;
  color: #FAC81E;
}
