<h1>TEST</h1>

<div class= 'card-drinks'>
  <div class= "img-drinks">
    <img src="" alt="">
  </div>
  <div class= "drink-details">
    <div id= "drink-name">
      <p> Drink Name </p>
    </div>
    <div id= "alcohol-percentage">
      <p> Alcohol % </p>
    </div>
  </div>
  <div id= "btn-add-drink">
    <a href="#" id= "add-drink-text"> Add Drink </a>
  </div>
</div>
