<% drinks.each do |drink| %>
  <div class= 'card-drinks'>
    <div class= "img-drinks">
      <%= cl_image_tag drink.photo.key, crop: :fill %>
    </div>
    <div class= "drink-details">
      <div class= "drink-name">
        <p> <%= drink.name %> </p>
      </div>
      <div class= "alcohol-percentage">
        <p> <%= drink.alcohol %> % </p>
      </div>
    </div>
    <div id= "btn-add-drink">
      <%# <a href="" id= "add-drink-text"> Add </a> %>
      <%= render "add-form", drink: drink, tab_drink: @tab_drink, placeholder: "Add", id: "add-drink-text" %>
    </div>
  </div>
<% end %>
