<div class="container-lp">
  <div>
    <%# LOGO %>
  </div>
  <div>
    <p>This app was made by three professional drunks, therefore, the results shown are not scientifically accurate, so we won't take any responsibility for the shit you make while you're dunk !</p>
  </div>
  <div>
    <%# <%= link_to "Start the App", index_path, class: "btn btn-ghost " %> %>
  </div>

</div>
