.card-drinks {
  display: flex;
  align-items: center ;
  justify-content: space-between;
  margin: 20px auto;
  height: 88px;
  border-radius: 20px;
  background-color: #2A2A2A;
  width: 95%;
}

.img-drinks {
  display: flex;
  justify-content: center;
  height: 88px;
  width: 88px;
  background-color: rgb(207, 207, 207);
  border-radius: 20px;
}

.img-drinks img {
  height: 88px;
  border-radius: 20px;

}
.drink-details-bartab {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-left: -50px;
}

.drink-details {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 102px;
  margin-left: -106px;
}

.drink-details-bartab p{
  margin: 0;
}

.drink-details p{
  margin: 0;
}

.drink-name {
  font-size: 15px;
  font-weight: 700;
}

.alcohol-percentage {
  font-size: 11px;
  color: #a09d9dc1
}

.drink-count {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

#btn-add-drink {
  // display: flex;
  // align-items: center ;
  // justify-content: center;
  height: 44px;
  width: 44px;
  border: 0;
  margin-right: 10px;
  background: linear-gradient(180deg, #FAC81E 0%, #FAC81EAD 100%);
  border-radius: 15px;
}

#add-drink-text {
  color: #2A2A2A;
  text-decoration: none;
  margin: 10px;
  font: bold;
}
