.card-drinks {
  display: flex;
  align-items: center ;
  justify-content: space-between;
  margin: 20px auto;
  height: 88px;
  border-radius: 20px;
  background-color: #2A2A2A;
  width: 95%;
}

.img-drinks {
  display: flex;
  justify-content: center;
  height: 88px;
  width: 88px;
  background-color: rgb(207, 207, 207);
  border-radius: 20px;
}

.img-drinks img {
  height: 88px;
  border-radius: 20px;

}
.drink-details {
justify-content: center;
align-items: center;
align-items: flex-end;
}

#drink-name {

}

#alcohol-percentage {

}

#btn-add-drink {
  display: flex;
  align-items: center ;
  justify-content: center;
  height: 88px;
  background: linear-gradient(180deg, #FAC81E 0%, #FAC81EAD 100%);
  border-radius: 20px;
}

#add-drink-text {
  color: #2A2A2A;
  text-decoration: none;
  margin: 10px;
}
